In [1]:
import pandas as pd
df = pd.read_csv("housing.csv")

In [2]:
import pandas as pd
df = pd.read_csv("housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
df.drop("longitude",axis = 1,inplace = True)
df.drop("latitude",axis = 1,inplace = True)

In [4]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

import pandas as pd
df = pd.read_csv("housing.csv")

In [5]:
df.rename(columns = {"age":"houseage","total_bedrooms":"bedrooms","total_rooms":"rooms"}, inplace = True)

In [6]:
df.rename(columns = {"housing_median_age":"houseage"},inplace = True)
df.head()

,houseage,rooms,bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['ocean_proximity'] = le.fit_transform(df['ocean_proximity'])

,houseage,rooms,bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3
...,...,...,...,...,...,...,...,...
20635,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1
20636,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1
20637,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1
20638,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1
20639,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1

In [8]:
from sklearn.model_selection import train_test_split
train_set,test_set = train_test_split(df,test_size = 0.2, random_state = 42)

In [9]:
print(len(train_set),len(test_set))

16512 4128

In [17]:
train_setX  = train_set.drop('median_house_value',axis = 1)
train_sety = train_set['median_house_value'].copy()

In [18]:
from sklearn.impute import SimpleImputer
simputer = SimpleImputer(strategy = 'mean')
train_setX = simputer.fit_transform(train_setX)

df.plot(kind="scatter", x="median_income", y="median_house_value", alpha=0.2)

In [19]:
df.corr()

,houseage,rooms,bedrooms,population,households,median_income,median_house_value,ocean_proximity
houseage,1.000000,-0.361262,-0.320451,-0.296244,-0.302916,-0.119034,0.105623,0.112468
rooms,-0.361262,1.000000,0.930380,0.857126,0.918484,0.198050,0.134153,-0.015693
bedrooms,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686,-0.014768
population,-0.296244,0.857126,0.877747,1.000000,0.907222,0.004834,-0.024650,-0.070282
households,-0.302916,0.918484,0.979728,0.907222,1.000000,0.013033,0.065843,-0.018186
median_income,-0.119034,0.198050,-0.007723,0.004834,0.013033,1.000000,0.688075,-0.014957
median_house_value,0.105623,0.134153,0.049686,-0.024650,0.065843,0.688075,1.000000,0.081750
ocean_proximity,0.112468,-0.015693,-0.014768,-0.070282,-0.018186,-0.014957,0.081750,1.000000

In [20]:
from sklearn.preprocessing import StandardScaler
std_sclr = StandardScaler()
train_setX = std_sclr.fit_transform(train_setX)

In [25]:
train_sety.shape

(16512,)

In [58]:
#from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [59]:
#model = LinearRegression()
model = DecisionTreeRegressor()
model.fit(train_setX,train_sety)
some_data = train_setX[:5]
some_labels = train_sety[:5]

In [60]:
list(some_labels)

[103000.0, 382100.0, 172600.0, 93400.0, 96500.0]

In [61]:
import numpy as np
from sklearn.metrics import mean_squared_error
model_predictions = model.predict(train_setX)
mse = mean_squared_error(train_sety,model_predictions)
rmse = np.sqrt(mse)

In [62]:
rmse

0.0

In [63]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, train_setX, train_sety, scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)

In [64]:
rmse_scores

array([84556.77850327, 87966.62777293, 85749.58379037, 85520.63376849,
       88287.36806631, 82081.05014573, 78287.15074526, 84838.23277749,
       86373.2151636 , 84877.78936212])

In [65]:
def print_scores(scores):
    print("Scores:", scores)
    print("Mean: ", scores.mean())
    print("Standard deviation: ", scores.std())

In [66]:
print_scores(rmse_scores)

Scores: [84556.77850327 87966.62777293 85749.58379037 85520.63376849
 88287.36806631 82081.05014573 78287.15074526 84838.23277749
 86373.2151636  84877.78936212]
Mean:  84853.84300955603
Standard deviation:  2755.591923549624

Testing the model

In [67]:
test_data = test_set.drop('median_house_value',axis = 1)
test_labels = test_set['median_house_value'].copy()
test_data = std_sclr.fit_transform(test_data)

In [71]:
test_score = cross_val_score(model,test_data,test_labels,scoring = "neg_mean_squared_error",cv = 10)
r_score = np.sqrt(-test_score)
print_scores(r_score)
preds = model.predict(test_data)
mse = mean_squared_error(test_labels,preds)
np.sqrt(mse)

Scores: [90066.48283798 98612.19494743 90896.39048151 98766.06546113
 98491.53534281 85134.31211365 92498.72092116 99793.74389784
 93388.34932409 92895.9217212 ]
Mean:  94054.37170488024
Standard deviation:  4530.472743019523

88020.00694656474

In [76]:
data = {"model":model,"sea":le,"scaler":std_sclr}
import pickle
with open("boston.pkl","wb") as file:
    pickle.dump(data,file)

In [75]:
df

,houseage,rooms,bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3
...,...,...,...,...,...,...,...,...
20635,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1
20636,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1
20637,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1
20638,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1
20639,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1